#body {
	position: relative;
	overflow-y: scroll;
}

.noscript {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 20px;
	background-color: #eee;
	z-index: 9999;
	text-align: center;
	font-size:16px;
}

.noscript:after {
	content: "JavaScript已被禁用，请开启JavaScript支持后刷新重试";
	color: #a94442;
}

.mt10 {
	margin-top: 10px;
}

.visible-900, .hidden-900 {
	display: none !important;
}

@media (min-width: 900px) {
	.visible-900 {
		display: block !important;
	}
}

@media (max-width: 899px) {
	.hidden-900 {
		display: block !important;
	}
}

.dropdown-menu {
	min-width: 150px;
	font-size: 13px;
}

.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 3px 15px;
	font-weight: 300;
}
.dropdown-menu .dropdown-header {
	font-size: 13px;
	padding: 3px 13px;
}
.dropdown-menu .divider {
	margin: 5px 0;
}
.multi-column-dropdown {
	list-style: none;
	padding-left: 0;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}
 
@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

#content {
	margin-top: 70px;
}

.ttitle {
	margin-top: -10px;
}

.ttitle dl {
	margin:0;
	padding-top: 28px;
}

@media (max-width: 767px) {
	.ttitle dl {
		padding-top: 0;
	}
}

.ttitle dl dd, .ttitle dl dt {
	float: left;
	padding-left: 8px;
	font-size: 13px;
}

p.bg-primary, p.bg-warning, p.bg-info, p.bg-success, p.bg-danger {
	padding: 0 15px;
	line-height: 40px;
}

.powerby {
	float:right;
	color:#666;
	line-height: 34px;
}

.tips {
	position: relative;
	padding: 35px 10px 15px;
	margin: 15px;
	border-left: 8px solid #eee;
	word-break: break-all;
}

.tips:after {
	position: absolute;
	top: 5px;
	left: 10px;
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	letter-spacing: 1px;
	content: "Tips:";
}

.tips li {
	line-height: 25px;
	font-size: 14px;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #999;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

#homepage .row:first-child {margin-bottom: 40px;}
#homepage #tools-list tbody tr {cursor: pointer;}
#homepage #tools-list tbody tr td {word-break: break-all;}
#homepage .page-header {border-bottom: 0;}

#md-draftbox {
	line-height: 34px;
}
#md-draftbox > span {
	display: none;
}

.navbar.navbar-inverse.navbar-fixed-top .navbar-brand {
	position: relative;
	padding-right: 35px;
}

.navbar-brand:after {
	content: 'beta';
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 12px;
}